EXPO_PUBLIC_API_BASE_URL=https://emptyservice.microcms.io
EXPO_PUBLIC_AUTH_USER_POOL_ID=ap-northeast-1_XXXXXX
EXPO_PUBLIC_AUTH_USER_POOL_CLIENT_ID=XXXXXX
# AWS cognito側で "ALLOW_USER_PASSWORD_AUTH" 設定をONにして使ってください。
# EAS Build時は eas.json 内に記述された環境変数が使用されます。
