name: workflow

on:
  push:
    branches:
      - main

jobs:
  prettier-eslint-checker:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      NODE_ENV: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: yarn # ← Yarn のキャッシュを自動でやってくれる

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Prettier-eslint Checker
        run: yarn checker

  deploy-storybook-static:
    runs-on: ubuntu-latest
    needs: prettier-eslint-checker
    timeout-minutes: 10
    env:
      NODE_ENV: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Storybook-static Building
        run: yarn build-storybook

      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@4.1.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./storybook-static/
          server-dir: /storybook_for_expo/
